<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beat.mall.module.tag.mapper.TagMapper">

    <!-- 插入数据 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.beat.mall.module.tag.entity.Tag">
        INSERT INTO tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tagName != null">
                tag_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="tagDesc != null">
                tag_desc
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tagName != null">
                #{tagName},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="isDeleted != null">
                #{isDeleted},
            </if>
            <if test="tagDesc != null">
                #{tagDesc}
            </if>
        </trim>
    </insert>

    <!-- 更新数据（根据主键） -->
    <update id="update" parameterType="com.beat.mall.module.tag.entity.Tag">
        UPDATE tag
        <set>
                        <if test="tagName != null">
                            tag_name = #{tagName},
                        </if>
                        <if test="createTime != null">
                            create_time = #{createTime},
                        </if>
                        <if test="updateTime != null">
                            update_time = #{updateTime},
                        </if>
                        <if test="isDeleted != null">
                            is_deleted = #{isDeleted},
                        </if>
                        <if test="tagDesc != null">
                            tag_desc = #{tagDesc},
                        </if>
        </set>
        WHERE
                id = #{id}
    </update>

</mapper>