<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yuhanpeng.musiccard.module.mapper.MusicMapper">
    <select id="getById"
            resultType="top.yuhanpeng.musiccard.module.entity.Music">
        select *
        from music
        where id = #{id}
          and is_deleted = 0
    </select>
    <select id="getAllMusic"
            resultType="top.yuhanpeng.musiccard.module.entity.Music">
        select *
        from music
        where is_deleted = 0
        <if test="keyword!=null and keyword!= '' ">
            and music_name like concat('%',#{keyword},'%')
        </if>
        order by id
        limit #{offSet}, #{pageSize}
    </select>

    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into music
        <trim prefix="("
              suffix=")"
              suffixOverrides=",">
            <if test="music.coverImages!=null and music.coverImages!=''">
                cover_images,
            </if>
            <if test="music.musicName!=null and music.musicName!=''">
                music_name,
            </if>
            <if test="music.singerName!=null and music.singerName!=''">
                singer_name,
            </if>
            <if test="music.musicDesc!=null and music.musicDesc!=''">
                music_desc,
            </if>
            <if test="music.albumTitle!=null and music.albumTitle!=''">
                album_title,
            </if>
            <if test="music.releaseDate!=null and music.releaseDate!=''">
                release_date,
            </if>
            <if test="music.createTime!=null">
                create_time,
            </if>
            <if test="music.isDeleted!=null">
                is_deleted,
            </if>
            update_time
        </trim>
        <trim prefix="values("
              suffix=")"
              suffixOverrides=",">
            <if test="music.coverImages!=null and music.coverImages!=''">
                #{music.coverImages},
            </if>
            <if test="music.musicName!=null and music.musicName!=''">
                #{music.musicName},
            </if>
            <if test="music.singerName!=null and music.singerName!=''">
                #{music.singerName},
            </if>
            <if test="music.musicDesc!=null and music.musicDesc!=''">
                #{music.musicDesc},
            </if>
            <if test="music.albumTitle!=null and music.albumTitle!=''">
                #{music.albumTitle},
            </if>
            <if test="music.releaseDate!=null and music.releaseDate!=''">
                #{music.releaseDate},
            </if>
            <if test="music.createTime!=null">
                #{music.createTime},
            </if>
            <if test="music.isDeleted!=null">
                #{music.isDeleted},
            </if>
            #{music.updateTime}
        </trim>
    </insert>
    <update id="update">
        update music
        <set>
            <if test="music.coverImages!=null and music.coverImages!=''">
                cover_images=#{music.coverImages},
            </if>
            <if test="music.musicName!=null and music.musicName!=''">
                music_name=#{music.musicName},
            </if>
            <if test="music.singerName!=null and music.singerName!=''">
                singer_name=#{music.singerName},
            </if>
            <if test="music.musicDesc!=null and music.musicDesc!=''">
                music_desc=#{music.musicDesc},
            </if>
            <if test="music.albumTitle!=null and music.albumTitle!=''">
                album_title=#{music.albumTitle},
            </if>
            <if test="music.releaseDate!=null and music.releaseDate!=''">
                release_date=#{music.releaseDate},
            </if>
            <if test="music.isDeleted!=null">
                is_deleted=#{music.isDeleted},
            </if>
            update_time=#{music.updateTime}
        </set>
        where id = #{music.id}
    </update>

    <update id="delete">
        update music
        set is_deleted=1,
            update_time= #{time}
        where id = #{id}
          and is_deleted = 0
    </update>

    <select id="countTotal"
            resultType="java.lang.Long">
        select count(*)
        from music
        where is_deleted = 0;
    </select>
</mapper>