<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beat.mall.music.module.music.mapper.MusicMapper">
    <select id="getAllMusic"
            resultType="com.beat.mall.common.entity.music.Music">
        select distinct * from music
        <where>
            is_deleted = 0
            <if test="keyword != null and keyword != ''
                  or subquery != null and subquery!=''
                  or subquery2 != null and subquery2!='' ">
                and
                <trim prefix="(" suffix=")" prefixOverrides="or">
                    <if test="keyword != null and keyword != ''">
                        or music_name like concat('%',#{keyword},'%')
                    </if>
                    <if test="subquery != null and subquery != ''">
                        or type_id in (${subquery})
                    </if>
                    <if test="subquery2 != null and subquery2 != ''">
                        or id in (${subquery2})
                    </if>
                </trim>
            </if>
        </where>
        order by id
        limit #{offSet}, #{pageSize}

    </select>

    <select id="getAllMusicList2"
            resultType="com.beat.mall.common.entity.music.Music">
        select distinct *
        from music
        <where>
            is_deleted = 0
            <if test="musicName != null and musicName != ''
                  or subquery != null and subquery!=''
                  or subquery2 != null and subquery2!='' ">
                and
                <trim prefix="(" suffix=")" prefixOverrides="or">
                    <if test="musicName != null and musicName != ''">
                        or music_name like concat('%',#{musicName},'%')
                    </if>
                    <if test="subquery != null and subquery!='' ">
                        or type_id in (${subquery})
                    </if>
                    <if test="subquery2 != null and subquery2!='' ">
                        or id in (${subquery2})
                    </if>
                </trim>
            </if>
        </where>
        order by id
        limit #{offSet}, #{pageSize}
    </select>

    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into music
        <trim prefix="("
              suffix=")"
              suffixOverrides=",">
            <if test="music.coverImages!=null and music.coverImages!=''">
                cover_images,
            </if>
            <if test="music.musicName!=null and music.musicName!=''">
                music_name,
            </if>
            <if test="music.singerName!=null and music.singerName!=''">
                singer_name,
            </if>
            <if test="music.musicDesc!=null and music.musicDesc!=''">
                music_desc,
            </if>
            <if test="music.albumTitle!=null and music.albumTitle!=''">
                album_title,
            </if>
            <if test="music.releaseDate!=null and music.releaseDate!=''">
                release_date,
            </if>
            <if test="music.createTime!=null">
                create_time,
            </if>
            <if test="music.isDeleted!=null">
                is_deleted,
            </if>
            <if test="music.typeId!=null">
                type_id,
            </if>
            update_time
        </trim>
        <trim prefix="values("
              suffix=")"
              suffixOverrides=",">
            <if test="music.coverImages!=null and music.coverImages!=''">
                #{music.coverImages},
            </if>
            <if test="music.musicName!=null and music.musicName!=''">
                #{music.musicName},
            </if>
            <if test="music.singerName!=null and music.singerName!=''">
                #{music.singerName},
            </if>
            <if test="music.musicDesc!=null and music.musicDesc!=''">
                #{music.musicDesc},
            </if>
            <if test="music.albumTitle!=null and music.albumTitle!=''">
                #{music.albumTitle},
            </if>
            <if test="music.releaseDate!=null and music.releaseDate!=''">
                #{music.releaseDate},
            </if>
            <if test="music.createTime!=null">
                #{music.createTime},
            </if>
            <if test="music.isDeleted!=null">
                #{music.isDeleted},
            </if>
            <if test="music.typeId!=null">
                #{music.typeId},
            </if>
            #{music.updateTime}
        </trim>
    </insert>

    <update id="update">
        update music
        <set>
            <if test="music.coverImages!=null and music.coverImages!=''">
                cover_images=#{music.coverImages},
            </if>
            <if test="music.musicName!=null and music.musicName!=''">
                music_name=#{music.musicName},
            </if>
            <if test="music.singerName!=null and music.singerName!=''">
                singer_name=#{music.singerName},
            </if>
            <if test="music.musicDesc!=null and music.musicDesc!=''">
                music_desc=#{music.musicDesc},
            </if>
            <if test="music.albumTitle!=null and music.albumTitle!=''">
                album_title=#{music.albumTitle},
            </if>
            <if test="music.releaseDate!=null and music.releaseDate!=''">
                release_date=#{music.releaseDate},
            </if>
            <if test="music.isDeleted!=null">
                is_deleted=#{music.isDeleted},
            </if>
            <if test="music.typeId!=null">
                type_id=#{music.typeId},
            </if>
            update_time=#{music.updateTime}
        </set>
        where id = #{music.id}
    </update>

    <update id="delete">
        update music
        set is_deleted=1,
            update_time= #{time}
        where id = #{id}
          and is_deleted = 0
    </update>

    <select id="countTotal"
            resultType="java.lang.Long">
        select count(distinct id) from music
        <where>
            is_deleted = 0
            <if test="musicName != null and musicName != ''
                  or subquery != null and subquery!=''
                  or subquery2 != null and subquery2!='' ">
                and
                <trim prefix="(" suffix=")" prefixOverrides="or">
                    <if test="musicName != null and musicName != ''">
                        or music_name like concat('%',#{musicName},'%')
                    </if>
                    <if test="subquery != null and subquery!='' ">
                        or type_id in (${subquery})
                    </if>
                    <if test="subquery2 != null and subquery2!='' ">
                        or id in (${subquery2})
                    </if>
                </trim>
            </if>
        </where>
    </select>

    <insert id="insertBatch">
        insert into music
        (
        music_name,
        singer_name,
        cover_images,
        music_desc,
        album_title,
        release_date,
        create_time,
        update_time,
        type_id
        )
        values
        <foreach collection="list"
                 item="item"
                 separator=",">
            (
            #{item.musicName},
            #{item.singerName},
            #{item.coverImages},
            #{item.musicDesc},
            #{item.albumTitle},
            #{item.releaseDate},
            #{item.createTime},
            #{item.updateTime},
            #{item.typeId}
            )
        </foreach>
    </insert>
</mapper>

