<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beat.mall.module.music.mapper.MusicMapper">
    <select id="getAllMusic"
            resultType="com.beat.mall.module.music.entity.Music">
        select distinct m.* from music m
        where m.is_deleted = 0
        <if test="keyword != null and keyword != ''">
            and (
                m.music_name like concat('%', #{keyword}, '%')
                or m.type_id in (
                    select c.id from category c where c.is_deleted = 0 and c.type_name like concat('%', #{keyword}, '%')
                    union
                    select c2.id from category c2 where c2.is_deleted = 0
                    and c2.parent_id in (select c3.id from category c3 where c3.is_deleted = 0 and c3.type_name like concat('%', #{keyword}, '%'))
                    union
                    select c4.id from category c4 where c4.is_deleted = 0
                    and c4.id in (select c5.parent_id from category c5 where c5.is_deleted = 0 and c5.type_name like concat('%', #{keyword}, '%') and c5.parent_id != 0)
                )
                or m.id in (
                    select distinct r.music_id from music_tag_relation r
                    join tag t on r.tag_id = t.id
                    where r.is_deleted = 0 and t.is_deleted = 0 and t.tag_name like concat('%', #{keyword}, '%')
                )
            )
        </if>
        order by m.id
        limit #{offSet}, #{pageSize}
    </select>

    <select id="getAllMusicList2"
            resultType="com.beat.mall.module.music.entity.Music">
        select distinct m.* from music m
        where m.is_deleted = 0
        <if test="musicName != null and musicName != '' or typeName != null and typeName != '' or tagName != null and tagName != ''">
            and (
                <trim prefixOverrides="or">
                    <if test="musicName != null and musicName != ''">
                        or m.music_name like concat('%', #{musicName}, '%')
                    </if>
                    <if test="typeName != null and typeName != ''">
                        or m.type_id in (
                            select c.id from category c where c.is_deleted = 0 and c.type_name like concat('%', #{typeName}, '%')
                            union
                            select c2.id from category c2 where c2.is_deleted = 0
                            and c2.parent_id in (select c3.id from category c3 where c3.is_deleted = 0 and c3.type_name like concat('%', #{typeName}, '%'))
                            union
                            select c4.id from category c4 where c4.is_deleted = 0
                            and c4.id in (select c5.parent_id from category c5 where c5.is_deleted = 0 and c5.type_name like concat('%', #{typeName}, '%') and c5.parent_id != 0)
                        )
                    </if>
                    <if test="tagName != null and tagName != ''">
                        or m.id in (
                            select distinct r.music_id from music_tag_relation r
                            join tag t on r.tag_id = t.id
                            where r.is_deleted = 0 and t.is_deleted = 0 and t.tag_name like concat('%', #{tagName}, '%')
                        )
                    </if>
                </trim>
            )
        </if>
        order by m.id
        limit #{offSet}, #{pageSize}
    </select>

    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into music
        <trim prefix="("
              suffix=")"
              suffixOverrides=",">
            <if test="music.coverImages!=null and music.coverImages!=''">
                cover_images,
            </if>
            <if test="music.musicName!=null and music.musicName!=''">
                music_name,
            </if>
            <if test="music.singerName!=null and music.singerName!=''">
                singer_name,
            </if>
            <if test="music.musicDesc!=null and music.musicDesc!=''">
                music_desc,
            </if>
            <if test="music.albumTitle!=null and music.albumTitle!=''">
                album_title,
            </if>
            <if test="music.releaseDate!=null and music.releaseDate!=''">
                release_date,
            </if>
            <if test="music.createTime!=null">
                create_time,
            </if>
            <if test="music.isDeleted!=null">
                is_deleted,
            </if>
            <if test="music.typeId!=null">
                type_id,
            </if>
            update_time
        </trim>
        <trim prefix="values("
              suffix=")"
              suffixOverrides=",">
            <if test="music.coverImages!=null and music.coverImages!=''">
                #{music.coverImages},
            </if>
            <if test="music.musicName!=null and music.musicName!=''">
                #{music.musicName},
            </if>
            <if test="music.singerName!=null and music.singerName!=''">
                #{music.singerName},
            </if>
            <if test="music.musicDesc!=null and music.musicDesc!=''">
                #{music.musicDesc},
            </if>
            <if test="music.albumTitle!=null and music.albumTitle!=''">
                #{music.albumTitle},
            </if>
            <if test="music.releaseDate!=null and music.releaseDate!=''">
                #{music.releaseDate},
            </if>
            <if test="music.createTime!=null">
                #{music.createTime},
            </if>
            <if test="music.isDeleted!=null">
                #{music.isDeleted},
            </if>
            <if test="music.typeId!=null">
                #{music.typeId},
            </if>
            #{music.updateTime}
        </trim>
    </insert>

    <update id="update">
        update music
        <set>
            <if test="music.coverImages!=null and music.coverImages!=''">
                cover_images=#{music.coverImages},
            </if>
            <if test="music.musicName!=null and music.musicName!=''">
                music_name=#{music.musicName},
            </if>
            <if test="music.singerName!=null and music.singerName!=''">
                singer_name=#{music.singerName},
            </if>
            <if test="music.musicDesc!=null and music.musicDesc!=''">
                music_desc=#{music.musicDesc},
            </if>
            <if test="music.albumTitle!=null and music.albumTitle!=''">
                album_title=#{music.albumTitle},
            </if>
            <if test="music.releaseDate!=null and music.releaseDate!=''">
                release_date=#{music.releaseDate},
            </if>
            <if test="music.isDeleted!=null">
                is_deleted=#{music.isDeleted},
            </if>
            <if test="music.typeId!=null">
                type_id=#{music.typeId},
            </if>
            update_time=#{music.updateTime}
        </set>
        where id = #{music.id}
    </update>

    <update id="delete">
        update music
        set is_deleted=1,
            update_time= #{time}
        where id = #{id}
          and is_deleted = 0
    </update>

    <select id="countTotal"
            resultType="java.lang.Long">
        select count(distinct m.id) from music m
        where m.is_deleted = 0
        <if test="musicName != null and musicName != '' or typeName != null and typeName != '' or tagName != null and tagName != ''">
            and (
                <trim prefixOverrides="or">
                    <if test="musicName != null and musicName != ''">
                        or m.music_name like concat('%', #{musicName}, '%')
                    </if>
                    <if test="typeName != null and typeName != ''">
                        or m.type_id in (
                            select c.id from category c where c.is_deleted = 0 and c.type_name like concat('%', #{typeName}, '%')
                            union
                            select c2.id from category c2 where c2.is_deleted = 0
                            and c2.parent_id in (select c3.id from category c3 where c3.is_deleted = 0 and c3.type_name like concat('%', #{typeName}, '%'))
                            union
                            select c4.id from category c4 where c4.is_deleted = 0
                            and c4.id in (select c5.parent_id from category c5 where c5.is_deleted = 0 and c5.type_name like concat('%', #{typeName}, '%') and c5.parent_id != 0)
                        )
                    </if>
                    <if test="tagName != null and tagName != ''">
                        or m.id in (
                            select distinct r.music_id from music_tag_relation r
                            join tag t on r.tag_id = t.id
                            where r.is_deleted = 0 and t.is_deleted = 0 and t.tag_name like concat('%', #{tagName}, '%')
                        )
                    </if>
                </trim>
            )
        </if>
    </select>

    <insert id="insertBatch">
        insert into music
        (
        music_name,
        singer_name,
        cover_images,
        music_desc,
        album_title,
        release_date,
        create_time,
        update_time,
        type_id
        )
        values
        <foreach collection="list"
                 item="item"
                 separator=",">
            (
            #{item.musicName},
            #{item.singerName},
            #{item.coverImages},
            #{item.musicDesc},
            #{item.albumTitle},
            #{item.releaseDate},
            #{item.createTime},
            #{item.updateTime},
            #{item.typeId}
            )
        </foreach>
    </insert>
</mapper>