<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beat.mall.music.module.musictagrelation.mapper.MusicTagRelationMapper">

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.beat.mall.common.entity.musictagrelation.MusicTagRelation">
        INSERT INTO music_tag_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="musicId != null">
                music_id,
            </if>
            <if test="tagId != null">
                tag_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDeleted != null">
                is_deleted
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="musicId != null">
                #{musicId},
            </if>
            <if test="tagId != null">
                #{tagId},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="isDeleted != null">
                #{isDeleted}
            </if>
        </trim>
    </insert>

    <!-- 更新数据（根据联合主键） -->
    <update id="update" parameterType="com.beat.mall.common.entity.musictagrelation.MusicTagRelation">
        UPDATE music_tag_relation
        <set>
                        <if test="createTime != null">
                            create_time = #{createTime},
                        </if>
                        <if test="updateTime != null">
                            update_time = #{updateTime},
                        </if>
                        <if test="isDeleted != null">
                            is_deleted = #{isDeleted},
                        </if>
        </set>
        WHERE
                music_id = #{musicId}
                AND tag_id = #{tagId}
    </update>

</mapper>

